<section class="home-locations">
  <div class="container">
    <div class="home-intro-block">
      <p ng-if="stores">The following LCBOs are near you. Choose one and start discovering craft beer.</p>
      <p ng-if="!stores">
        <span>Standby, we are locating nearby LCBO locations for you...</span>
      </p>
      <p ng-if="!stores">
        <img src="img/balls.gif">
      </p>
    </div>
    <accordion>
      <accordion-group>
        <accordion-heading>Manual Search (by location) <i class="icon-angle-right"></i></accordion-heading>
        <form class="form-inline" ng-submit="postalSearch($storage.storeSearch)">
          <div class="form-group">
            <label class="sr-only" for="postal-code">Postal Code or City</label>
            <div class="input-group">
              <input type="text" ng-model="$storage.storeSearch" class="form-control" id="postal-code" name="postal-code" placeholder="Postal / City" required>
              <span class="input-group-btn">
                <button class="btn btn-primary" role="button=" type="submit" ng-disabled="$storage.storeSearch === null || $storage.storeSearch === ''">
                  <span class="btn-text sr-only">Search</span>
                  <i class="icon-search"></i>
                </button>
              </span>
            </div>
          </div>
        </form>
      </accordion-group>
    </accordion>
    <div class="list-group" ng-if="stores" ng-repeat="(key, store) in stores track by $index | limitTo: 12">
      <a ui-sref="store({storeURL: store.url_friendly_name})" class="list-group-item">
        <h3 class="list-group-item-heading">{{store.name}}</h3>
        <div class="list-group-item-text">
          <div class="badges">
            <span class="badge" ng-if="store.has_parking">
              P
              <span class="sr-only">Location has parking</span>
            </span>
            <span class="badge" ng-if="store.has_transit_access">
              <i class="icon-bus"></i>
              <span class="sr-only">Location has transit access</span>
            </span>
            <span class="badge" ng-if="store.has_wheelchair_accessability">
              <i class="icon-wheelchair"></i>
              <span class="sr-only">Location has wheelchair accessibility</span>
            </span>
            <span class="badge" ng-if="store.has_beer_cold_room">
              <i class="icon-weather-snow"></i>
              <span class="sr-only">Location has a cold beer room</span>
            </span>
          </div>
          <div class="address-1" ng-if="store.address_line_1.length">{{store.address_line_1}}</div>
          <div class="address-2" ng-if="store.address_line_2.length">{{store.address_line_2}}</div>
          <div class="city" ng-if="store.city.length">{{store.city}}, ON&nbsp;&nbsp;{{store.postal_code}}</div>
          <strong>{{store.location.distance_from_me / 1000 | number: 1}} km away</strong>
        </div>
      </a>
    </div>
    <p class="stores-error" ng-show="storesError">{{storesError}}</p>
  </div>
</section>
