<section class="home-locations">
  <div class="container">
    <div class="home-intro-block">
      <p ng-if="stores">The following LCBOs are near you. Choose one and start discovering craft beer.</p>
      <p ng-if="!stores">
        <span>Standby, we are locating nearby LCBO locations for you...</span>
      </p>
      <p ng-if="!stores">
        <img src="img/balls.gif">
      </p>
    </div>
    <div class="reset-gps-container">
      <md-button class="md-secondary" type="button" role="button" ng-click="doGeolocation()" aria-label="Refresh locations">
        <md-icon md-font-set="icomoon" class="icon-map-marker"></md-icon>
        <span class="btn-text">Refresh Locations</span>
      </md-button>
    </div>
    <accordion>
      <accordion-group>
        <accordion-heading>Manual Location Search <i class="icon-angle-right"></i></accordion-heading>
        <form class="form-inline" ng-submit="postalSearch($storage.storeSearch)">
          <div class="form-group">
            <label class="sr-only" for="postal-code">Postal Code or City</label>
            <div class="input-group">
              <input type="text" ng-model="$storage.storeSearch" class="form-control" id="postal-code" name="postal-code" placeholder="Postal / City" required>
              <span class="input-group-btn">
                <button class="btn btn-primary" role="button=" type="submit" ng-disabled="$storage.storeSearch === null || $storage.storeSearch === ''">
                  <span class="btn-text sr-only">Search</span>
                  <i class="icon-search"></i>
                </button>
              </span>
            </div>
          </div>
        </form>
      </accordion-group>
    </accordion>
    <div class="stores" ng-if="stores" ng-repeat="(key, store) in stores track by $index | limitTo: 12">
      <md-card ui-sref="store({storeURL: store.url_friendly_name})">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">{{store.name}}</span>
            <span class="md-subhead">{{store.location.distance_from_me / 1000 | number: 1}} km away</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <div class="address-1" ng-if="store.address_line_1.length">{{store.address_line_1}}</div>
          <div class="address-2" ng-if="store.address_line_2.length">{{store.address_line_2}}</div>
          <div class="city" ng-if="store.city.length">{{store.city}}, ON&nbsp;&nbsp;{{store.postal_code}}</div>
        </md-card-content>
        <md-card-footer>
          <md-chips class="store-chips">
            <md-chip ng-show="store.has_parking" aria-label="Location has parking">
              P
              <md-tooltip>Location has parking</md-tooltip>
            </md-chip>
            <md-chip ng-show="store.has_transit_access" aria-label="Location has transit access">
              <md-icon md-font-set="icomoon" class="icon-bus"></md-icon>
              <md-tooltip>Location has transit access</md-tooltip>
            </md-chip>
            <md-chip ng-show="store.has_wheelchair_accessability" aria-label="Location has wheelchair accessibility">
              <md-icon md-font-set="icomoon" class="icon-wheelchair"></md-icon>
              <md-tooltip>Location has wheelchair accessibility</md-tooltip>
            </md-chip>
            <md-chip ng-show="store.has_beer_cold_room" aria-label="Location has a cold beer room">
              <md-icon md-font-set="icomoon" class="icon-weather-snow"></md-icon>
              <md-tooltip>Location has a cold beer room</md-tooltip>
            </md-chip>
          </md-chips>
        </md-card-footer>
      </md-card>
    </div>
    <p class="stores-error" ng-show="storesError">{{storesError}}</p>
  </div>
</section>
