<section class="home-locations">
  <div class="container">
    <div class="home-intro-block">
      <p ng-if="stores">The following LCBOs are near you. Choose one and start discovering craft beer.</p>
      <p ng-if="!stores">
        <span>Standby, we are locating nearby LCBO locations for you...</span>
      </p>
      <p ng-if="!stores">
        <img src="img/balls.gif">
      </p>
    </div>
    <div class="reset-gps-container">
      <md-button class="md-secondary md-ink-ripple" type="button" role="button" ng-click="doGeolocation()" aria-label="Refresh locations">
        <md-icon md-font-set="material-icons">my_location</md-icon>
        <span class="btn-text">Refresh Locations</span>
      </md-button>
    </div>
    <md-card class="manual-search-card">
      <md-card-content>
        <v-accordion class="vAccordion--default">
          <v-pane>
            <v-pane-header>Manual Search</v-pane-header>
            <v-pane-content>
              <form class="manual-search-form" ng-submit="postalSearch($storage.storeSearch)" name="manualSearch" layout="row">
                <md-input-container flex="95">
                  <label for="postal-code">Postal Code or City</label>
                  <input type="text" ng-model="$storage.storeSearch" id="postal-code" name="postalCode" required>
                  <div ng-messages="manualSearch.postalCode.$error">
                    <div ng-message="required">Please enter a postal code or city!</div>
                  </div>
                </md-input-container>
                <md-input-container flex class="submit-container">
                  <md-button class="md-icon-button" role="button" aria-label="Search" type="submit">
                    <md-icon md-font-set="icomoon" class="icon-search"></md-icon>
                  </md-button>
                </md-input-container>
              </form>
            </v-pane-content>
          </v-pane>
        </v-accordion>
      </md-card-content>
    </md-card>
    <md-list role="list" class="stores" ng-if="stores">
      <md-subheader>Closest Store Listings</md-subheader>
      <md-list-item role="listitem" tabindex="-1" class="md-clickable md-3-line" ng-repeat="(key, store) in stores track by $index | limitTo: 12">
        <md-button class="md-no-style md-ink-ripple" ui-sref="store({storeURL: store.url_friendly_name})">
          <div class="md-list-item-inner">
            <md-icon class="md-avatar-icon" md-font-set="material-icons">location_on</md-icon>
            <div class="md-list-item-text">
              <h3>{{store.name}}</h3>
              <p>{{store.location.distance_from_me / 1000 | number: 1}} km away</p>
              <div class="address">
                <div class="address-line address-line-1" ng-if="store.address_line_1.length">{{store.address_line_1}}</div>
                <div class="address-line address-line-2" ng-if="store.address_line_2.length">{{store.address_line_2}}</div>
                <div class="address-line address-line-3" ng-if="store.city.length && store.postal_code.length">
                  <span ng-if="store.city.length">{{store.city}}, ON
                  <span ng-if="store.postal_code.length">&nbsp;{{store.postal_code}}</span>
                </div>
              </div>
              <md-chips class="store-chips">
                <md-chip ng-show="store.has_parking" aria-label="Location has parking">
                  P
                  <md-tooltip>Location has parking</md-tooltip>
                </md-chip>
                <md-chip ng-show="store.has_transit_access" aria-label="Location has transit access">
                  <md-icon md-font-set="icomoon" class="icon-bus"></md-icon>
                  <md-tooltip>Location has transit access</md-tooltip>
                </md-chip>
                <md-chip ng-show="store.has_wheelchair_accessability" aria-label="Location has wheelchair accessibility">
                  <md-icon md-font-set="icomoon" class="icon-wheelchair"></md-icon>
                  <md-tooltip>Location has wheelchair accessibility</md-tooltip>
                </md-chip>
                <md-chip ng-show="store.has_beer_cold_room" aria-label="Location has a cold beer room">
                  <md-icon md-font-set="icomoon" class="icon-weather-snow"></md-icon>
                  <md-tooltip>Location has a cold beer room</md-tooltip>
                </md-chip>
              </md-chips>
            </div>
            <!--

             -->
          </div>
        </md-button>
      </md-list-item>
    </md-list>
    <p class="stores-error" ng-show="storesError">{{storesError}}</p>
  </div>
</section>
