@import '../app/public/bower_components/bootstrap/less/mixins.less';

@white: #fff;
@grey-dark: #313234;
@black: #000;

@umber: #883222;
@beige: #ab9e90;

@blue-light: #656775;
@blue-dark: #2E303E;

@green-light: #687C70;
@green-dark: #2E4135;

@primary: @grey-dark;

body {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 100px;
  font-size: 18px;
  padding-top: 50px;
}

.container {
  max-width: 900px;
}

.main-menu {
  width: 300px;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  background-color: @white;
  .translate(-100%; 0);
  .transition(.2s all ease-in-out);
  z-index: 100;

  .menu-open & {
    .translate(0; 0);
  }
}

.jumbotron {
  text-align: center;

  h1 {
    font-weight: bold;
    text-transform: uppercase;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .container {
    max-width: 500px;
  }
}

h1,
h2,
h3,
h4
h5,
h6 {
  font-family: 'Oswald';
}

.table-hours {
  display: none;
}

.action-bar {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 15px;
  background-color: @white;

  .btn {
    border-radius: 0;
    border: 0;
    background: @blue-dark;
    color: @white;
    font-family: 'Roboto';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    padding: 15px 30px;
    line-height: 1.1;

    &:hover,
    &:focus {
      background-color: @grey-dark;
    }

    i {
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      position: relative;
      bottom: 2px;
      margin-right: 3px;
    }

    small {
      display: block;
      text-transform: none;
      font-weight: normal;
    }
  }

  .btn-new-beer {
    padding: 15px;
  }
}

.form-inline {
  margin-bottom: 30px;

  .btn {
    background: @blue-dark;
    border-radius: 0;
    border: 1px solid @blue-dark;
    color: @white;
    box-shadow: none;
    padding: 9px 15px 8px;

    &:hover,
    &:focus {
      background-color: @grey-dark;
    }
  }

  .form-control {
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    height: auto;
  }
}

.list-group-item {
  margin-bottom: 20px;

  .badge {
    background-color: @blue-dark;
    text-transform: uppercase;
    font-size: 10px;
  }
}

.badges {
  margin-bottom: 5px;

  .badge {
    font-size: 14px;
  }
}