<div class="store" controller="storeCtrl">
  <button class="md-fab md-fab-bottom-right md-button md-default-theme">
    <md-icon md-font-set="material-icons">menu</md-icon>
  </button>
    <a ui-sref="main" class="btn btn-primary btn-action"><i class="icon-angle-left"></i> Select a new store</a>
    <md-card class="store-information">
      <md-card-title>
        <md-card-title-text class="md-headline" ng-if="!store">Loading store information...</md-card-title-text>
        <md-card-title-text class="md-headline" ng-if="store">{{store.name}}</md-card-title-text>
      </md-card-title>
      <md-card-content>
        <address>
          <div class="address-1" ng-if="store.address_line_1.length">{{store.address_line_1}}</div>
          <div class="address-2" ng-if="store.address_line_2.length">{{store.address_line_2}}</div>
          <div class="city" ng-if="store.city.length">{{store.city}}, ON&nbsp;&nbsp;{{store.postal_code}}</div>
          <a ng-if="store.telephone.length" href="tel:{{store.telephone}}">{{store.telephone}}</a><br>
          <a ng-href="{{googleMapURL(store.latitude, store.longitude)}}" target="_blank">Map</a>
        </address>
      </md-card-content>
      <md-card-footer>
        <md-chips class="store-chips">
          <md-chip ng-show="store.has_parking" aria-label="Location has parking">
            P
            <md-tooltip>Location has parking</md-tooltip>
          </md-chip>
          <md-chip ng-show="store.has_transit_access" aria-label="Location has transit access">
            <md-icon md-font-set="icomoon" class="icon-bus"></md-icon>
            <md-tooltip>Location has transit access</md-tooltip>
          </md-chip>
          <md-chip ng-show="store.has_wheelchair_accessability" aria-label="Location has wheelchair accessibility">
            <md-icon md-font-set="icomoon" class="icon-wheelchair"></md-icon>
            <md-tooltip>Location has wheelchair accessibility</md-tooltip>
          </md-chip>
          <md-chip ng-show="store.has_beer_cold_room" aria-label="Location has a cold beer room">
            <md-icon md-font-set="icomoon" class="icon-weather-snow"></md-icon>
            <md-tooltip>Location has a cold beer room</md-tooltip>
          </md-chip>
        </md-chips>
      </md-card-footer>
    </md-card>
    <md-card class="manual-search-card">
      <md-card-content>
        <form class="form-filter form-inline" ng-submit="postalSearch(input.postal)" name="beerSearch" layout="row">
          <md-input-container flex="95">
            <label class="sr-only" for="beer-search">Refine your beers...</label>
            <input type="text" ng-model="searchText" class="form-control" id="beer-search" name="search">
          </md-input-container>
          <md-input-container flex class="submit-container">
            <md-button class="md-icon-button" role="button" aria-label="Search" type="submit">
              <md-icon md-font-set="icomoon" class="icon-search"></md-icon>
            </md-button>
          </md-input-container>
        </form>
      </md-card-content>
    </md-card>
    <section class="store-beers">

      <p ng-if="!store.beers">Loading beer selection...</p>
      <md-list role="list" class="beers" ng-if="store.beers">
        <md-subheader>Beers at {{store.name}}</md-subheader>
        <md-list-item role="listitem" tabindex="-1" class="md-clickable md-3-line" ng-repeat="(key, beer) in store.beers | toArray | filter: searchText | orderBy: [emptyInventory, 'name']">
          <md-button class="md-no-style md-ink-ripple" ui-sref="beer({beerID: beer.url_friendly_name, storeURL: store.url_friendly_name})">
            <div class="md-list-item-inner">
              <md-icon class="md-avatar-icon icon-beer" md-font-set="icomoon"></md-icon>
              <div class="md-list-item-text">
                <h3>{{beer.name}} <small>by {{beer.producer_name}}</small> <span class="badge" ng-if="beer.is_new">New</span></h3>
                <h4>{{getBeerStyle(beer)}} - <strong>{{beer.alcohol_content / 100}}%</strong></h4>
                <h5>
                  {{beer.package}} -
                  <span class="no-inventory" ng-if="beer.inventory.quantity === 1">Maybe out of stock</span>
                  <span class="inventory" ng-if="beer.inventory.quantity > 1">{{getInventory(beer)}}</span>
                </h5>
                <strong>{{beer.price_in_cents / 100 | currency}}</strong></span>
              </div>
            </div>
          </md-button>
        </md-list-item>
      </md-list>
    </section>
</div>
